body
{
	background-image: url(../images/bg0.jpg);
	background-repeat: no-repeat; 
	background-attachment: fixed;
	background-size: 100% 100%;
	margin: 0px;
	filter:alpha(opacity=80);
	-moz-opacity:0.8;
	opacity:0.8; 
	-khtml-opacity: 0.8;
}
#conv
{
	width: 400px;
	height: 200px;
	border: 2px solid white;
	position: fixed;
	left: 33%;
	top: 200px;
	background-color: black;
	color: #F8F8FF;
	font-size: 20px;
	font-family: Buxton Sketch, Chalkduster;
	text-decoration: none;
	z-index: 105;
	opacity: 0.9;
}
#btn
{
	position: relative;
	background: rgba(230,230,250,.85);
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	color: #696969;
	border-radius: 8px;
	font-size: 12px;
	font-family: Comic Sans MS, Serif;
	text-decoration: none;

	transition:border linear .3s,box-shadow linear .7s;
	-moz-transition:border linear .3s,-moz-box-shadow linear .7s;
	-webkit-transition:border linear .3s,-webkit-box-shadow linear .7s;
	outline:none;border-color:rgba(230,230,250,.75);
	box-shadow:0 0 8px rgba(230,230,250,.5);
	-moz-box-shadow:0 0 8px rgba(230,230,250,.5);
	-webkit-box-shadow:0 0 8px rgba(230,230,250,.3);
}