#buildArmy
{
    display: none;
    background: white;
    position: fixed;
    top:33%;
    left: 35%;
    width: 30%;
    height: 30%;
    min-width: 400px;
    min-height: 235px;
    border: 1px solid red;
}
.armytypeThumb
{
    padding: 3px;
    max-width: 100%;
    max-height: 97%;
}
.armytypeId
{
    width: 30%;
    height: 35%;
    display: inline-block;
}

#exitBuild{
    background: #65a9d7;
   -webkit-border-radius: 40px;
   -moz-border-radius: 40px;
   border-radius: 40px;
   color: white;
   font-size: 10px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   margin-left: 60px;
   }
#exitBuild:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
#exitBuild:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }
#info, #buildArmy
{
   	font-family: Lucida Calligraphy;

}

#help
{
	font-family: Lucida Handwriting;
	font-size: 14px;
}
#help>b
{
	font-family: Bookman Old Style;
	font-size: 16px;
}

#info>button
{
  display: inline-block;
  background: rgba(230,230,250,.85);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   color: #696969;
   border-radius: 8px;
   font-size: 12px;
   font-family: Comic Sans MS, Serif;
   text-decoration: none;

    transition:border linear .3s,box-shadow linear .7s;
    -moz-transition:border linear .3s,-moz-box-shadow linear .7s;
    -webkit-transition:border linear .3s,-webkit-box-shadow linear .7s;
    outline:none;border-color:rgba(230,230,250,.75);
    box-shadow:0 0 8px rgba(230,230,250,.5);
    -moz-box-shadow:0 0 8px rgba(230,230,250,.5);
    -webkit-box-shadow:0 0 8px rgba(230,230,250,.3);
}