#buildArmy
{
    display: none;
    background: white;
    position: fixed;
    top:33%;
    left: 35%;
    width: 30%;
    height: 30%;
    min-width: 400px;
    min-height: 210px;
    border: 1px solid red;
}
.armytypeThumb
{
    padding: 3px;
    max-width: 100%;
    max-height: 97%;
}
.armytypeId
{
    width: 30%;
    height: 35%;
    display: inline-block;
}