#buildArmy
{
    display: none;
    background: #E0FFFF;
    position: fixed;
    top:33%;
    left: 35%;
    width: 30%;
    height: 30%;
}
.armytypeThumb
{
    display: inline-block;

    width: 20%;
    height: 30%;
}
