
img{
    height:15px;
    width:15px;
    transition: 1s;
}

img:hover{
    height: 450px;
    width: 450px;
}
div:hover {
  animation: 1s rainbow;
}
@keyframes rainbow {
  0% { background: #c00; }
  50% { background: orange; }
  100% { background: yellowgreen; }
}
