/*img{
    	height:15px;
    	width:15px;
}

img:active{
	display: block;
    	height: 450px;
   	width: 450px;
    	transition: 1s;
}
img:hover{
	display: block;
    	height: 450px;
   	width: 450px;
    	transition: 1s;
}*/

.box {
    width: 100px;
    height: 100px; 
    background: hotpink;
}
#img1{
	width: 150px;
	height: 200px;
	display: none;
}
@-webkit-keyframes growBox {
  to {
  	
    width: 225px;
    height: 300px;
   }
}
.change-size { -webkit-animation: growBox 2s linear 0.3s 3 normal;}