.cut {
 	-webkit-animation: pound .3s infinite;
 	-moz-animation: pound .3s infinite;
}

@-webkit-keyframes pound {
  from { transform: none; }
  to { transform: scale(1.2); }
}

@keyframes pound {
  from { transform: none; }
  to { transform: scale(1.2); }
}

div {
    animation: spin 1s linear infinite;
    animation-play-state: paused;
}

div:hover {
  animation-play-state: running;
}
