body
{
	width: 100%;
	height: 100%;
	min-width: 1100px;
	min-height: 900px;
	opacity: 0.8; 
	background-image: url('../images/background1.jpg');
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	background-repeat: no-repeat;

}

h4
{
	font-family: Chalkduster, Buxton Sketch; 
	margin: 0 auto;
	font-size: 14px;
}

h1.Register
{
	font-family: Chalkduster, Buxton Sketch;
	color: #F0FFFF; 
	font-style: bold;
}

h2.Register
{
	font-family: Chalkduster, Buxton Sketch;
	color: #F0FFFF;
}

div.register_form
{
	width: 320px;
	height: 151px;
	text-align: center;
	font-family: Chalkduster, Buxton Sketch; 
	border: 5px white solid;
	position: relative;
	top: 50px;
	left: 100px;
}

div.form_field
{
	font-family: Chalkduster, Buxton Sketch; 
	font-style: bold; 
	font-size: 18px;
	color:#F0FFFF;
}

#message
{
	position: relative;
	top: 25px;
	color: white;
	font-size: 15pt;
	background-color: black;
	text-align: center;
}