#roomNum
{
   display: inline-block;
    top:3%;
}
#Info
{
    display: inline-block;
    position: fixed;
    top: 5%;
    left: 70%;
}
#main
{
   display: inline-block;
    position: fixed;
    top: 2%;
    left: 50%;
}

#roomNum
{
  margin-left: 2%;
}

body
{
  background-image: url(../images/bg0.jpg);
  background-repeat: no-repeat; 
  background-attachment: fixed;
  margin: 0px;
}
.roomBtn {
     border-top: 1px solid #330099;
     background: url(../images/bt1.jpg);
     padding: 10% 20% 10% 20%;
     -webkit-border-radius: 17px;
     -moz-border-radius: 17px;
     border-radius: 8px;
     -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
     -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
     box-shadow: rgba(0,0,0,1) 0 1px 0;
     text-shadow: rgba(0,0,0,.4) 0 1px 0;
     color: #ffffcc;
     font-size: 16px;
     font-family: Georgia, Serif;
     text-decoration: none;
     vertical-align: middle;
   }
.roomBtn:hover {
   border-top-color: #6633ff;
   background: url(../images/bt1_h.jpg);
   color: #f2f2f2;
   }
.roomBtn:active {
   border-top-color: #6666ff;
   background: url(../images/bt1_a.jpg);
   background-repeat:no-repeat;
   background-size:100% 100%;
   color: transparent;
   }