body
{
    width: 1100px;
    height: 700px;
    min-width: 1100px;
    min-height: 700px;
    text-align: center;
}

#display
{
    width: 100%;
    height: 100%;
    overflow: scroll;
    border: 1px red solid;
}

#box1
{
    width: 2255px;
    height: 100%;
    -webkit-transform: perspective(550px) rotateX(45deg);
    transform: perspective(550px) rotateX(45deg);
}

#box
{
    width: 2255px;
    height: 100%;
}

#manual
{
    width: 100px;
    height: 100px;
    position: fixed;
    border: 1px solid red;
    display: none;
}

#hexagon_normal
{
    width: 100px;
    height: 55px;
    background: gray;
    position: relative;
    float: left;
    margin: 5px 5px 5px 5px;
}
#hexagon_normal:before 
{
    content: "";
    position: absolute;
    top: -25px; 
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 25px solid gray;
}
#hexagon_normal:after
{
    content: "";
    position: absolute;
    bottom: -25px; 
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 25px solid gray;
}

#hexagon_begin_odd
{
    width: 100px;
    height: 55px;
    background: gray;
    position: relative;
    float: left;
    margin: 5px 5px 5px 5px;
}
#hexagon_begin_odd:before
{
    content: "";
    position: absolute;
    top: -25px; 
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 25px solid gray;
}
#hexagon_begin_odd:after
{
    content: "";
    position: absolute;
    bottom: -25px; 
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 25px solid gray;
}

#hexagon_begin_even
{
    width: 100px;
    height: 55px;
    background: gray;
    position: relative;
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 60px;
    margin-right: 5px;
}
#hexagon_begin_even:before
{
    content: "";
    position: absolute;
    top: -25px; 
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 25px solid gray;
}
#hexagon_begin_even:after
{
    content: "";
    position: absolute;
    bottom: -25px; 
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 25px solid gray;
}

#hexagon_last
{
    width: 100px;
    height: 55px;
    background: gray;
    position: relative;
    float: left;
    margin: 5px 5px 5px 5px;
}
#hexagon_last:before
{
    content: "";
    position: absolute;
    top: -25px; 
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 25px solid gray;
}
#hexagon_last:after
{
    content: "";
    position: absolute;
    bottom: -25px; 
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 25px solid gray;
}

#new_line
{
    float: right;
    position: relative;
    width: 100%;
}