.hexagon[user="user_1"]
{
    opacity: 1;
    background: purple;
}
.hexagon[user="user_1"]:before
{
    border-bottom: 25px solid purple;
}
.hexagon[user="user_1"]:after
{
    border-top: 25px solid purple;
}

.hexagon[user="user_2"]
{
    opacity: 1;
    background: green;
}
.hexagon[user="user_2"]:before
{
    border-bottom: 25px solid green;
}
.hexagon[user="user_2"]:after
{
    border-top: 25px solid green;
}

.hexagon[user="user_3"]
{
    opacity: 1;
    background: blue;
}
.hexagon[user="user_3"]:before
{
    border-bottom: 25px solid blue;
}
.hexagon[user="user_3"]:after
{
    border-top: 25px solid blue;
}

img[animation="on"]
{
    animation-name: hover;
    -webkit-animation-name: hover;
    -moz-animation-name: hover;

    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;

    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
}

img[animation="off"]
{
}